.product-grid{
    padding:80px 40px;
}

.grid-container{

display:grid;

grid-template-columns:repeat(3,1fr);

gap:40px;

}

.product-card{

text-align:center;

position:relative;

}

.product-image{

position:relative;

overflow:hidden;

}

.product-image img{

width:100%;

display:block;

}

.product-popup-btn{

position:absolute;

right:20px;

bottom:20px;

width:44px;

height:44px;

border-radius:50%;

border:none;

cursor:pointer;

font-size:28px;

background:white;

transition:.3s;

}

.product-popup-btn:hover{

transform:scale(1.1);

}
@media(max-width:768px){

.grid-container{

grid-template-columns:1fr;

}

}
.product-modal{

position:fixed;

inset:0;

display:none;

justify-content:center;

align-items:center;

z-index:999;

}

.product-modal.active{

display:flex;

}

.modal-overlay{

position:absolute;

inset:0;

background:rgba(0,0,0,.6);

}

.modal-content{

position:relative;

background:#fff;

width:900px;

max-width:95%;

padding:40px;

z-index:2;

}

.modal-grid{

display:grid;

grid-template-columns:1fr 1fr;

gap:40px;

}

.modal-image img{

width:100%;

}

.modal-close{

position:absolute;

top:20px;

right:20px;

font-size:30px;

cursor:pointer;

background:none;

border:none;

}

.modal-price{

font-size:24px;

font-weight:bold;

margin:20px 0;

}

#variantContainer{

margin:20px 0;

}

#variantContainer select{

width:100%;

padding:12px;

}

#addToCartBtn{

width:100%;

height:56px;

background:black;

color:white;

border:none;

cursor:pointer;

margin-top:30px;

}